<div class="{{selectorPrefix}}-{{componentName}}-detail-container">
    <nz-spin [nzSpinning]="isDetailGetting">
        <form nz-form [formGroup]="validateForm">
            <ny-panel-box [title]="'基本信息'">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="formLayout.itemSpan">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="formLayout.labelSpan" nzRequired>企业</nz-form-label>
                            <nz-form-control [nzSpan]="formLayout.controlSpan" nzErrorTip="请选择企业">
                                <nz-select formControlName="companyId" nzPlaceHolder="请选择企业"
                                    [nzDisabled]="type !== 'add'" (ngModelChange)="companyChange($event)"
                                    [nzShowSearch]="true" nzAllowClear>
                                    <nz-option nzCustomContent *ngFor="let option of companyList"
                                        [nzLabel]="option.companyName" [nzValue]="option.companyId">
                                        <div [title]="option.companyName">\{{option.companyName}}</div>
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="formLayout.itemSpan">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="formLayout.labelSpan" nzRequired>示例输入框</nz-form-label>
                            <nz-form-control [nzSpan]="formLayout.controlSpan" nzErrorTip="请填写示例输入框">
                                <input nz-input formControlName="exampleInputText" maxlength="100" placeholder="请输入示例输入框"
                                    (blur)="trimValue($event, 'exampleInputText')" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="formLayout.itemSpan">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="formLayout.labelSpan">示例下拉框</nz-form-label>
                            <nz-form-control [nzSpan]="formLayout.controlSpan">
                                <nz-select formControlName="exampleSelect" (ngModelChange)="exampleSelectChange($event)">
                                    <nz-option *ngFor="let item of examples" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="formLayout.itemSpan">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="formLayout.labelSpan" nzRequired>示例输入数字</nz-form-label>
                            <nz-form-control [nzSpan]="formLayout.controlSpan" [nzErrorTip]="exampleInputNumberErr">
                                <input nz-input formControlName="exampleInputNumber" maxlength="18" placeholder="请输入" />
                                <ng-template #exampleInputNumberErr let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        请填写示例输入数字
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('number')">
                                        示例输入数字格式不正确
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="formLayout.itemSpan">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="formLayout.labelSpan" nzRequired>示例日期</nz-form-label>
                            <nz-form-control [nzSpan]="formLayout.controlSpan" nzErrorTip="请选择示例日期">
                                <nz-month-picker style="width: 100%;" formControlName="exampleDate"
                                    [nzFormat]="'yyyy-MM-dd'" (ngModelChange)="dateChange($event)"></nz-month-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </ny-panel-box>
        </form>
    </nz-spin>

    <div class="footer" *ngIf="type !== 'view'">
        <button nz-button nzType="default" (click)="cancel()" style="margin-right: 16px;">取消</button>
        <button nz-button nzType="primary" (click)="submit()" [nzLoading]="btnLoading"
            [disabled]="isDetailGetting">确定</button>
    </div>
</div>